---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Calendar from "@/components/Calendar";
---

<BaseLayout>
  <main class="layout-base py-8">
    <div>
      <Calendar client:load />
    </div>
  </main>
</BaseLayout>

<style>
  .fc .fc-list-event.fc-event-forced-url {
    color: yellow;
  }
</style>
