---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Calendar from "@/components/Calendar";
import { eventsPath } from "@/lib/getMenuItems";

export const getStaticPaths = () => {
  return eventsPath
    ? [
        {
          params: {
            events: eventsPath.path,
          },
        },
      ]
    : [];
};
---

<BaseLayout pageTitle={eventsPath?.label || "Events"}>
  <main class="layout-base py-8">
    <div>
      <Calendar client:load />
    </div>
  </main>
</BaseLayout>
